:root {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 750;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #87A1AB;
  text-decoration: inherit;
}
a:hover {
  color: #87A1AB;
}


body {
  margin: 0;
  min-height: 100vh;
  background-color: #F2EDE3;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
