.navigation {
  padding: 1em 3em;
  flex-direction: row wrap;
  background-color: #F2EDE3;
  position: sticky;
  top: 0;
  text-align: right;
  font-size: large;
  font-size: larger;
  letter-spacing: -1.5px;


  li{
    display: inline;
    list-style-type: none;
    margin-right: 0.25em;
    transition: all 0.5s linear;
  }
  li:hover{
      font-size: 120%;
      text-decoration: underline wavy #87A1AB;
      text-decoration-thickness: 3px;
      text-decoration-skip: none;
      letter-spacing: 0px;
  }
}

a {
  color: #F7D1CD;
  text-decoration: none;
}

a:hover {
  color: #87A1AB;
}

a:visited {
  text-decoration: underline solid #87A1AB;
}